body {
    font-family: Arial;
    margin: 0;
    background: #f4f9f4;
    transition: 0.3s;
}

/* header */
header {
    background: green;
    color: white;
    text-align: center;
    padding: 20px;
}

/* acessibilidade */
.accessibility button {
    margin: 5px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

/* modo escuro */
.dark {
    background: #111;
    color: white;
}

/* brilho */
body.bright {
    filter: brightness(1.3);
}

body.dim {
    filter: brightness(0.6);
}

/* quiz */
#quiz-container {
    padding: 20px;
    background: white;
    margin: 20px;
    border-radius: 10px;
}

button {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}
