body {
    font-family: Arial;
    margin: 0;
    background: #f4f9f4;
    transition: 0.3s;
}

header {
    background: green;
    color: white;
    padding: 30px;
    text-align: center;
}

nav {
    background: #1b5e20;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

section {
    padding: 30px;
}

.cards {
    display: flex;
    gap: 10px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    flex: 1;
}

/* acessibilidade */
.accessibility button {
    margin: 5px;
    padding: 8px;
    border: none;
    cursor: pointer;
}

/* modo escuro */
.dark {
    background: #111;
    color: white;
}

/* chat */
#chatResposta {
    margin-top: 10px;
    font-weight: bold;
}
